%nav{ class: "navbar navbar-default" }
  %div{ class: "container-fluid" }
    %div{ class: "navbar-header" }
      %p{ class: "navbar-brand" } Turing Bodega
    %div{ class: "navbar-collapse collapse" }
      %ul{ class: "nav navbar-nav" }
        %li= link_to "Home", products_path
        %li= link_to "Add New Product", new_product_path
      %ul{ :class => "nav navbar-nav navbar-right" }
        - if current_user
          %li{ class: "navbar-text", id: "welcome" }= "Welcome, #{current_user.username}!"
          %li= link_to "Logout", logout_path, method: :delete
        - else
          %li= link_to "Login", login_path
          %li= link_to "Sign Up", new_user_path
        
